[defaults]
inventory = ~/assignment2/hosts
host_key_checking = false
deprecation_warnings = false
forks = 5
roles_path = /home/vinit/assignment2/roles
[privilege_escalation:linux]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
[privilege_escalation:windows]
become_method = runas
